#main_alter_user {
    width: 100%;
    min-height: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
}
#donde_div {
    background-color: var(--argen);
    padding: 1em;
    border: solid var(--primary-red);
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}
#donde_div > h1{
    font-size: 2rem;
}