.section_name {
    align-self: center;
    text-align: center;
    background: var(--header-gradiant);
    color: white;
    border: solid var(--primary-red) 0.2em;
    font-size: 1.2em;
    width: 90%;
    padding: 0.2em;
    border-radius: 10em;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    -ms-border-radius: 10em;
    -o-border-radius: 10em;
}
.section_name > h2 {
    margin: 0.2em;
    cursor: pointer;
}
.section_name > h2:hover {
    text-decoration: underline;
}
.sale_wall {
    display: flex;
    justify-content: space-around;
    padding-top: 1em;
    width: 100%;
}
.descount_selection {
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    width: 100%;
}

#autor_selection {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 16em;
    overflow: hidden;
}
.product {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
    text-align: center;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 25em;
    grid-row-gap: 3em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -ms-border-radius: 0.3em;
    -o-border-radius: 0.3em;
} 

@media (max-width: 768px) {
    .product {
        height: 22em;
    }
}