#main_new_user {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20em;
}
#result_section {
    width: 50%;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    background-color: var(--argen);
    border: var(--primary-red) solid;
    color: var(--argen);
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}