#main_product_sell {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 1em;
}
.section_recomendations {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 1em;
    width: 100%;
}
.section_recomendations > div {
    text-align: center;
    background: var(--header-gradiant);
    border: var(--primary-red) solid 0.2em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin-bottom: 1em;
    width: 70%;
    border-radius: 5em;
    -webkit-border-radius: 5em;
    -moz-border-radius: 5em;
    -ms-border-radius: 5em;
    -o-border-radius: 5em;
}
.sale_wall_wrapper {
    width: 100%;
}