#product_wall {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.section_wall {
    display: flex;
    justify-content: space-around;
    width: 75%;
}
.aside_filter > h2 {
    margin: 0;
}
.aside_filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--header-gradiant);
    color: white;
    width: 11em;
    height: fit-content;
    font-size: 1.3rem;
    margin-top: 6em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}
.form_filter {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.form_filter > h2 {
    text-align: center;
}
.form_filter > p {
    padding: 0.5em;
    font-size: 1.2em;
    margin: 0;
    align-self: self-start;
}
.text_filter {
    font-size: 1.1rem;
    padding: 0.1em;
    width: 85%;
}
.sale_wall_wrapper {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
    gap: 1em;
    padding: 0;
    margin: 0 ; 
    justify-items: center;
    align-items: center;

    max-height: 60vh; 
    overflow-y: auto;
    overflow-x: hidden;

}
.product_obj {
    align-self: center;
}
.serch_btn {
    cursor: pointer;
    width: 5em;
    font-size: 1.3rem;
    color: var(--background-blue);
    border: solid var(--background-blue) 0.1em;
    margin-top: 1em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
}
.serch_btn:hover {
    background-color: var(--primary-blue);
    border-color: white;
    color: white;
}
.serch_btn:active {
    background-color: white;
    border-color: var(--background-blue);
    color: var(--background-blue);
}
.all_autors {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1em;
    padding: 0;
    margin: 0;
}
@media (max-width: 1600px) {
    .aside_filter {
        margin-top: 2em;
    }
}
@media (max-width: 1024px) {
    .aside_filter {
        margin-top: 2em;
    }
}