#main_home_page {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
#main_home_page > h1 {
    text-align: center;
    margin: 0.1em;
}
#mainImSwp {
    margin-top: 76px;
}
.section_name {
    align-self: center;
    text-align: center;
    background: var(--header-gradiant);
    color: white;
    border: solid var(--primary-red) 0.2em;
    width: 90%;
    padding: 0.2em;
    border-radius: 10em;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    -ms-border-radius: 10em;
    -o-border-radius: 10em;
}
h2 {
    color: white;
    margin: 0.2em;
}
.sale_wall {
    display: flex;
    justify-content: space-around;
    padding-top: 1em;
    width: 100%;
}
.descount_selection {
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    width: 100%;
}
.more_btn {
    cursor: pointer;
    align-self: center;
    color: white;
    border: solid var(--primary-red) 0.2em;
    background: var(--header-gradiant);
    padding: 0.5em;
    margin: 1em;
    width: 70%;
    justify-self: center;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}
.more_btn:hover {
    background: var(--nav-gradiant);
}
.more_btn:active {
    background: var(--header-gradiant);
}
.autor_selection {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.product {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
    text-align: center;
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -ms-border-radius: 0.3em;
    -o-border-radius: 0.3em;
} 
