.flexsearch__wrapper {
	width: 100%;
  display: flex;
  justify-content: center;
	background: transparent;
  align-items: center;
  background-color: transparent;
}
.div__flexsearch {
  width: 100%;
  display: flex;
}
.flexsearch__input {
  width: 100%;
  padding: 0% 0% 0% 3%;
  color: var(--primary-blue);
  font-size: 1em;
  border: var(--background-blue) solid 0.1em;
  border-right: none;
  border-top-left-radius: 0.8em;
  border-bottom-left-radius: 0.8em;
  box-sizing: content-box;
  appearance: none;
}
.flexsearch__submit {
  cursor: pointer;
  border: none;
  border-bottom-right-radius: 0.8em;
  border-top-right-radius: 0.8em;
  color:#fff;
  background-color: var(--background-blue);
  font-size: 1em;
}

.flexsearch__submit > div {
  display: flex;
}

::-webkit-input-placeholder {
  color: var(--primary-blue);  
}

input:-moz-placeholder {
  color: var(--primary-blue);
}

.flexsearch__input:focus {
  outline: none;
  border-color: var(--primary-blue);
}

input:focus::-webkit-input-placeholder {
  color: var(--background-blue);  
}

input:focus:-moz-placeholder { 
  color: var(--background-blue);
}

input:focus::-moz-placeholder { 
  color: var(--background-blue);
}

input:focus:-ms-input-placeholder {
  color: var(--background-blue);
}

.flexsearch__input:focus + .flexsearch__submit {
  background-color: var(--primary-blue); 
}

.flexsearch__submit:hover {
  background-color: var(--primary-blue);
  cursor: pointer;
}

.flexsearch__submit:hover + .flexsearch__input {
  border-color: var(--primary-blue);
}

.flexsearch__submit:active {
  background-color: var(--secondary-blue);
}