#serch_input {
  width: 80%;
  height: 70%;
  padding: 0% 0% 0% 3%;
  font-size: 1em;
  color: var(--primary-blue);
  border: var(--background-blue) solid 0.1em;
  border-right: none;
  border-top-left-radius: 0.8em;
  border-bottom-left-radius: 0.8em;
  appearance: none;
}
#serch_submit {
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color:#fff;
  border: var(--background-blue) solid 0.1em;
  background-color: var(--background-blue);
  border-bottom-right-radius: 0.8em;
  border-top-right-radius: 0.8em;
  font-size: 1em;
}

#serch_submit > img {
  width: 80%;
  height: auto;
}

::-webkit-input-placeholder {
  color: var(--primary-blue);  
}

input:-moz-placeholder {
  color: var(--primary-blue);
}

#serch_input:focus {
  outline: none;
  border-color: var(--primary-blue);
}

input:focus::-webkit-input-placeholder {
  color: var(--background-blue);  
}

input:focus:-moz-placeholder { 
  color: var(--background-blue);
}

input:focus::-moz-placeholder { 
  color: var(--background-blue);
}

input:focus:-ms-input-placeholder {
  color: var(--background-blue);
}

#serch_input:focus + #serch_submit {
  background-color: var(--primary-blue); 
}

#serch_submit:hover {
  background-color: var(--primary-blue);
  cursor: pointer;
}

#serch_submit:hover + #serch_input {
  border-color: var(--primary-blue);
}

#serch_submit:active {
  background-color: var(--secondary-blue);
}

@media (max-width: 600px) {
  
}