.tables_section {
    display: grid;
    overflow-y: auto;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(22em, 1fr));
    width: 100%;
    flex-grow: 1;
    gap: 1em;
    padding: 1rem;
    margin: 0; 
}
.closter_data {
    cursor: pointer;
    align-self: self-start;
    background-color: var(--argen);
    border: solid var(--primary-red);
    color: black;
    padding: 1em;
    margin: 1em;
    margin-top: 4em;
    width: 20em;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}
.closter_data > h1 {
    border-bottom: solid var(--primary-red);
    font-size: 2rem;
}
.closter_data > p {
    border-bottom: solid var(--primary-red);
    font-size: 1.5rem;
    margin: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.closter_data > ul {
    list-style-type: circle;
    padding-bottom: 0.5em;
    border-bottom: solid var(--primary-red);
}
.closter_data > ul > li {
    font-size: 1.5rem;
}