.section__contact {
    justify-self: center;
    background-color: var(--light-gray-blue);
    border: solid white 0.2em;
    width: 50%;
    padding: 0.7em;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}
.section__contact > section {
    display: flex;
}
.section__contact > p {
    text-align: center;
}
#Mail_help {
    display: flex;
    width: 100%;
}
#Mail_help > input {
    border-right: none;
    width: 100%;
    padding-left: 1em;
    border: solid 0.1em var(--orange);
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}
.btn__mail {
    color: white;
    border-left: none;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    background-color: var(--orange);
    border: solid 0.1 var(--orange);
}
.btn__mail:hover {
    background-color: var(--light-orange);
}
.btn__mail:active {
    background-color: var(--orange);
}
@media (max-width: 700px){
    #Mail_help > input {
        font-size: 1.5em;
    }
    .section__contact {
        margin: 0em;
        border-top-left-radius: 0em;
        border-bottom-left-radius: 0em;
        border-bottom: none;
        border-left: none;

    }
    .section__contact {
        width: fit-content;
    }
}