.product_obj {
    display: grid;
    background-color: white;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    height: 100%;
    margin: 0;
}
.product_obj:hover > .full_info {
    z-index: 99;
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
}
.product_obj:hover > .info, .product_obj:hover > figure{
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}
.product_obj > figure {
    grid-area: 1 / 1 / 2 / 2;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
    border-bottom: none;
    transition: transform 0.5s ease;
    width: 100%;
    height: 160%;
    margin: 0;
    padding: 0;
}
.product_obj > figure > img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}
.product_obj > .info {
    grid-area: 2 / 1 / 3 / 2;
    transition: transform 0.5s ease;
    justify-self: center;
    align-self: end;
    border: solid #555 0.1em;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
    border-top: none;
    width: 100%;
    height: 40%;
}

.product_obj > .info > p {
    color: black;
    overflow: hidden;
    margin: 0;
    border-bottom: 0.1em solid #555;
    width: 100%;
}
.product_obj > .full_info {
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    transition: transform 0.5s ease;
    z-index: -1;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}
.product_obj > .full_info > p {
    padding-right: 1em;
    padding-left: 1em;
    margin: 0;
    padding-top: 0.5em;
}
.product_obj > .full_info > button {
    background: none;
    padding: 0.5em;
    color: white;
    border: none;
    border-top: solid #555 0.1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}
#prod_link {
    align-self: center;
    text-decoration: underline;
    font-size: 1.5em;
    margin-top: auto;
    margin-bottom: 1em;
    color: white;
}
#prod_link:hover {
    color: var(--primary-red);
}
#prod_link:active {
    color: white;
}