.closter_data_alter {
    background-color: var(--argen);
    color: black;
    padding: 1em;
    margin: 1em;
    margin-top: 4em;
    width: 20em;
    border: solid var(--primary-red);
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
    align-self: self-start;
}
.closter_data_alter > h1 {
    border-bottom: solid var(--primary-red);
    font-size: 2rem;
}
.closter_data_alter > p {
    font-size: 1.5rem;
    margin: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: solid var(--primary-red);
}
.closter_data_alter > div {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin: 0;
    border-bottom: solid var(--primary-red);
}
.closter_data_alter > div > p {
    font-size: 1.5rem;
    margin-top: 0.2em;
    margin-bottom: 0.1em;
    display: flex;
    justify-content: space-between;
}
.closter_data_alter > div > p > input {
    padding: 0;
    margin: 0;
    height: 1em;
    padding: 0.2em;
    font-size: 0.65em;
    width: 65%;
}
.closter_data_alter > div > p > input[type='number'] {
    width: 10%;
}
.closter_data_opc {
    display: flex;
    justify-content: space-around;
}
.closter_data_opc > span {
    cursor: pointer;
}
.closter_data_opc > span:hover {
    text-decoration: underline;
}
.closter_data_opc > button {
    cursor: pointer;
    border: none;
    background: none;
    font-size: 0.9em;
}
.closter_data_opc > button:hover {
    text-decoration: underline;
}
.closter_data_alter > div > textarea {
    width: 100%;
    font-size: 1.3em;
}