.nav_opc {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 90%;
}
.nav_opc > p {
    margin: 0;
}

@media (max-width: 1600px) {
    .nav_opc {
        height: 100%;
        width: 100%;
        background: var(--nav-gradiant);

    }
}