#button__ini_reg {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 10em;
    width: 90%;
    z-index: -1;
    display: none;
    background: var(--nav-gradiant);
    color: #fff;
}

#log_opc {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#log_opc > button {
    cursor: pointer;
    border: solid var(--background-blue) 0.2em;
    font-size: 1.1rem;
    height: 70%;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
}
#button__ini {
    background-color: var(--background-blue);
    color: #fff;
}
#button__ini:hover {
    background-color: var(--primary-blue);
    border: solid white 0.2em;
    color: #fff;
}
#button__ini:active {
    background-color: var(--secondary-blue);
    border: solid var(--secondary-blue) 0.2em;
    color: #fff;
}
#button__reg {
    color: var(--secondary-blue);
}
#button__reg:hover {
    background-color: var(--primary-blue);
    border: solid white 0.2em;
    color: #fff;
}
#button__reg:active {
    background-color: var(--secondary-blue);
    border: solid var(--secondary-blue) 0.2em;
    color: #fff;
}

@media (max-width: 1400px) {
    #button__ini_reg {
        z-index: 1;
        display: block;
    }
    #button__ini {
        z-index: -1;
        display: none;
    }
    #button__reg {
        z-index: -1;
        display: none;        
    }
}
@media (max-width: 600px) {
    #button__ini_reg {
        width: 90%;
        height: 95%;
    }
}