.product_wrapper {
    color: black;
    background: var(--argen);
    display: flex;
    align-self: center;
    overflow: hidden;
    width: 90%;
    height: 26em;
    border: var(--primary-red) solid 0.2em;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}
.product_info {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80%;
}
.product_info > section {
    flex: 1;
    padding: 0.5em;
    margin-top: 1em;
    border-left: var(--primary-red) solid 0.2em;
    border-top: var(--primary-red) solid 0.2em;
    border-top-left-radius: 1em;
}
.product_info > section > p {
    margin: 0;
    overflow: hidden;
}
.product_option {
    color: black;
}
.product_image {
    text-align: center;
    width: 20%;
    overflow: hidden;
    min-width: 13em;
    height: auto;
    margin: 0.5em;
    display: flex;
}
.product_image > h2,  .product_info > h2,.product_info > p,.product_info > h3 {
    color: black;
    margin: 0;
    padding: 0;
    margin-top: 0.5em;
}
.product_image > img {
    align-self: center;
    justify-self: center;
    width: 100%;
    height: auto;
}
span {
    font-weight: bolder;
    color: var(--primary-blue);
}
.product_btn {
    cursor: pointer;
    color: white;
    background-color: var(--background-blue);
    border: none;
    font-size: large;
    padding: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin: 0.2em;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}
.product_btn:hover {
    background-color: var(--primary-blue);
    text-decoration: underline;
}

@media (max-width: 768px) {
    .product_wrapper {
        width: 95%;
    }
}
@media (max-width: 600px) {
    .product_btn {
        font-size: 1.2em;
        margin: 0.1em;
    }
    .product_btn > img {
        height: 1.3em;
        width: auto;
    }
    .product_info > h2 {
        font-size: 1.4em;
    }
}
@media (max-width: 375px) {
    .product_btn {
        font-size: 1em;
        margin: 0.1em;
    }
}