.header_hidden {
    transform: translateY(-250%);
    -webkit-transform: translateY(-250%);
    -moz-transform: translateY(-250%);
    -ms-transform: translateY(-250%);
    -o-transform: translateY(-250%);
}

.header_visible {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}

header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    font-size: 1.3em;
    color: white;
    transition: transform 0.5s ease;
    -webkit-transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
    -ms-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
}

#top_header {
    width: 100%;
    height: 2.5em;
    display: flex;
    background-color: var(--primary-blue);
    border-bottom: 0.3em solid var(--primary-red);
    position: relative;
}

    #top_opc {
        margin-left: 0.5em;
        margin-right: 0.5em;
        width: 85%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #top_logo  {
        width: 15%;
        margin: 0;
    }

    #top_logo > svg {
        cursor: pointer;
        width: 100%;
        height: auto;
        max-height: 11em;
        background: none;
    }

#top_nav {
    width: 10em;
    display: flex;
    align-content: center;
    justify-content: space-around; 
    list-style-type: none;
}
    
#bottom_header {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
}    
    #logo { 
        grid-area: 1 / 1 / 2 / 2;
        margin: 0;
    }

    #serch_bar { 
        width: 100%;
        grid-area: 1 / 2 / 2 / 4;
        display: flex;
        justify-content: center;
        align-items: center; 
    }

    #log_opc { 
        grid-area: 1 / 5 / 2 / 6; 
        align-items: center;
    }
    
    #bottom_nav { 
        grid-area: 1 / 4 / 2 / 5;
        display: flex;
        justify-content: space-evenly;
    }

#logo, #serch_bar, #log_opc, #bottom_nav {
    height: 3.5em;
    background: var(--header-gradiant);
}


@media (max-width: 1600px) {
    #bottom_header {
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 1em;
    }  

    #serch_bar { grid-area: 1 / 2 / 2 / 5; }

    #bottom_nav { grid-area: 2 / 2 / 3 / 6; }
}

@media (max-width: 768px) {
    #top_opc {
        width: 80%;
    }

    #top_logo  {
        width: 20%;
    }
}

@media (max-width: 425px) {
    #top_opc {
        width: 80%;
    }

    #top_logo  {
        width: 20%;
        padding-top: 3em;
    }
}